<section id="about" class="pageClass">
	<h2>About Us</h2>
	<h3 class="aboutTagLine">Celebrationg the Best of Modern Art</h3>
	<img src="#" alt="#" align="left" class="aboutImage imageBorder">
</section>