<article class="singleExhibitContent container-fluid">
	<h2>{{exhibitsTitle}}</h2>
	<p>
		<img {{bind-attr src=image}} class="singleExibitImage imageBordar img-responsive" />
		{{exhibit_info}}
	</p>
</article>
